<mat-toolbar>


<!--  <a (click)="logout(element.idtableEmployeeId)"><mat-icon>exit_to_app</mat-icon></a>-->

  <div style="width: 100%;">
    <a href="https://www.glaucuslogistics.com/" target="_blank"><img style="margin-top: 8px" src="https://www.glaucuslogistics.com/images/logo.png" ></a>
    <button style="float: right; margin-top: 0.67em"  mat-raised-button matTooltip="Logout"
            aria-label="Button that displays a tooltip when focused or hovered over" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>

</mat-toolbar>
